@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: 'Yaro';
    src: url('../src/fonts/yaro-regular.woff2') format('woff2'),
        /* Modern browsers */
        url('/fonts/Yaro-Regular.woff') format('woff');
    /* Older browsers */
    font-weight: normal;
    font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.underline-title-white::after {
    content: '';
    position: absolute;
    width: 95px;
    /* Adjust the width to your liking */
    height: 4px;
    /* Adjust the thickness to your liking */
    background-color: #ffffff;
    /* Color of the underline */
    left: 50%;
    bottom: -10%;
    transform: translateX(-50%);
}
.underline-title-white {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.underline-title {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.underline-title::after {
    content: '';
    position: absolute;
    width: 50px;
    /* Adjust the width to your liking */
    height: 4px;
    /* Adjust the thickness to your liking */
    background-color: #1D3D71;
    /* Color of the underline */
    left: 50%;
    bottom: -10%;
    transform: translateX(-50%);
}.underline-title-white {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.underline-title-left {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.underline-title-left::after {
    content: '';
    position: absolute;
    width: 50px;
    /* Adjust the width to your liking */
    height: 4px;
    /* Adjust the thickness to your liking */
    background-color: #1D3D71;
    /* Color of the underline */
    left: 15%;
    bottom: -10%;
    transform: translateX(-50%);
}
.underline-title-d {
    margin-left: 44%;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.underline-title-d::after {
    content: '';

    position: absolute;
    width: 100px;
    /* Adjust the width to your liking */
    height: 4px;
    /* Adjust the thickness to your liking */
    background-color: #1D3D71;
    /* Color of the underline */
    left: 53%;
    bottom:-10%;
    transform: translateX(-50%);
}

.line {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    transition: stroke-dashoffset 2s ease-in-out;
}

.stroke-animate .line {
    stroke-dashoffset: 0;
}